.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #10172a;
  color: white;
  font-family: sans-serif;
}

.ruku-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ruku-icon {
  width: 100px;
  filter: brightness(50%);
  transition: 0.3s ease;
}

.ruku-icon.active {
  filter: brightness(200%);
}

.count {
  margin-top: 1rem;
  font-size: 24px;
  font-weight: bold;
}
